
<ul id='spaces'>
  <% @spaces.each do |space| %>
    <li>
      Name: <%= space.name %>
      Description: <%= space.description %>
      Price: £<%= (space.price.truncate(2).to_s('F') + '00')[/.*\..{2}/] %> per night
    </li>
  <% end %>
</ul>
