<div class="col-3">
</div>
<div class="col-6">
  <form action="/users/login" method="POST">
    <label for="email">
      Email
      <input type="email" name="email">
    </label>
    <label for="password">
      Password
      <input type="password" name="password">
    </label>
    <input type="submit" class="button_styled" name="sign_in" value="Sign in">
  </form>
</div>
<div class="col-3">
</div>
