<form action="/users/create" method="POST">
  <label for="name">
    Name
    <input type="text" name="name">
  </label>
  <label for="email">
    Email
    <input type="email" name="email">
  </label>
  <label for="password">
    Password
    <input type="password" name="password">
  </label>
  <label for="password_confirmation">
    Confirm password
    <input type="password" name="password_confirmation">
  </label>
  <input type="submit" class="button" name="sign_up" value="Sign up">
</form>
