<center>
<h1> MakersBnB </h1><br>
<h2>
  <label for="sign_up">
    <form action="/users/signup" method="get">
      <input type="submit" value="Sign up">
    </form><br>
  </label>
  <label for="sign_in">
    <form action="/users/signin" method="get">
      <input type="submit" value="Sign in">
    </form><br>
  </label>
  <label for="main_page">
    <form action="/spaces" method="get">
      <input type="submit" value="Main page">
    </form>
  </label>
</center>
