<div class="grid">
  <div class="col-3">
    <br />
  </div>
  <div class="col-6">
    <form action="/users/signup" method="get">
      <input class="button_styled" type="submit" value="Sign up">
    </form>
  </div>
  <div class="col-3">
    <br />
  </div>
</div>
